/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
*.rbc
*.sassc
*.un~
.booty
.sass-cache
/vendor/bundle
/log/*
/tmp/*
/node_modules/**
/public/assets/**
npm-debug.log
.DS_Store
coverage
.env
yarn.lock
